/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
@charset "UTF-8";
@font-face {
    font-family: 'Gilroy';
    src: url('../fontes/Gilroy-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Yeseva';
    src: url('../fontes/YesevaOne-Regular.ttf') format('truetype');
}
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #000000;
    font-size: 14px;
    font-family: 'Gilroy';
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #000000;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5
 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
    font-family: 'Yeseva';
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 16px
    
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #000000;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, sans-serif;;
}

a {
    color: #000000;
    text-decoration: none;
    outline: none !important;
    font-family: Arial, sans-serif;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}
.layout_padding2 {
    padding-top: 30px;
    padding-bottom: 0px;
    
}

.padding_0 {
    padding: 0px;
}



.header_section {
    width: 100%;
    float: left;
    background-color: #FCF8CC;
    border-bottom: 2px solid #A2AEF7;
}
.header_bg {
    background: #333;
    border-bottom: 1px solid #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #A2AEF7;
    font-size: 18px;
    padding: 5px 5px 0px 5px;
    margin: 0px 40px 0px 0px;
    font-family: 'Gilroy';
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
    border-bottom: 3px solid #A2AEF7;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #A2AEF7;

}


.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar-nav {
    margin: 0 auto; 
}

.navbar .navbar-collapse {
    justify-content: center; 
}




.nav-item .submenu {
    display: none; 
    position: absolute; 
    background: #fcf8cccb;
    padding: 10px; 
    z-index: 1000; 
    font-family: 'Gilroy';
    border-radius: 8px;

    
}

.nav-item:hover .submenu {
    display: block; 
    font-family: 'Gilroy';


}

.nav-item .submenu li {
    list-style-type: none; 
    width: 300px; 
    font-family: 'Gilroy';


}

.nav-item .submenu li a {
    display: block; 
    padding: 10px; 
    text-decoration: none; 
    color: #A2AEF7; 
    font-family: 'Gilroy';
    border-radius: 8px;


}

.nav-item .submenu li a:hover {
    color: black; 
    background-color: #c1c8f8; 
    font-family: 'Gilroy';

}



.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 0px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input.form-control::placeholder {
    color: #fff;
}
.form-inline .form-control {
    color: #fff;
}

.has-search .form-control-feedback {
    z-index: 2;
    display: block;
    width: auto;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: right !important;
    pointer-events: none;
    color: #ffffff;
    margin-left: -30px;
}

/* header section end */



.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/img_capa.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 160px 0px;
    position: relative;
}

.banner_section::after {
    content: '';
    background-color: #ffffff;
    width: 60px;
    height: 762px;
    top: 0px;
    right: initial;
    left: 0px;
}

.banner_taital {
    font-family: 'Yeseva';
    width: 42%;
    font-size: 48x;
    color: #A2AEF7;
}

.banner_text {
    width: 50%;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding-top: 10px;
    display: flex;
}

.started_text {
    width: 200px;
    float: left;
    margin-top: 30px;
}

.started_text a {
    width: 100%;
    float: left;
    padding: 8px 10px;
    color: #fafafa;
    border: 1px solid #A2AEF7;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.started_text a:hover {
    color: #FCF8CC;
    background-color: #A2AEF7;
}

#main_slider a.carousel-control-prev {
    left: -90px;
    top: 150px;
    z-index: 1;
}

#main_slider a.carousel-control-next {
    right: -90px;
    top: 150px;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 30px;
    color: #FCF8CC;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #FCF8CC;
    background-color: #A2AEF7
}





.about_section {
    width: 100%;
    float: left;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 43px;
    color: #A2AEF7;
    font-family: 'Yeseva';
}

.about_text {
    width: 100%;
    font-size: 18px;
    color: #000000;
    margin: 0px;
    padding-top: 110px;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.read_bt {
    width: 200px;
    padding-top: 50px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    border: 1px solid #A2AEF7;
    color: #A2AEF7;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

.read_bt a:hover {
    color: #A2AEF7;
    background-color: #FCF8CC;
}

.about_img {
    width: 100%;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  
    border-radius: 8px;
}
.about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
  }
img {
    vertical-align: middle;
    border-style: none;
  }





.models_section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.models_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.models_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin: 0px;
}

.models_section_2 {
    width: 100%;
    float: left;
    padding: 40px 0px 0px 0px;
}


/* Zoom In #1 */

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.column {
    margin: 15px 0px 0;
    padding: 0;
}

.column:last-child {
    padding-bottom: 30px;
}

.column::after {
    content: '';
    clear: both;
    display: block;
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.introduction_text {
    width: 100%;
    float: left;
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.lorem_text {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #333333;
}

.seemore_bt {
    width: 200px;
    margin: 0 auto;
    padding-top: 70px;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    border: 1px solid #a1a1a1;
    color: #333333;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

.seemore_bt a:hover {
    color: #fafafa;
    background-color: #333333;
}

#my_slider a.carousel-control-prev {
    left: -90px;
    top: 390px;
}

#my_slider a.carousel-control-next {
    right: -90px;
    top: 390px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #252525;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #ffffff;
}

/* models section end */


/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.blog_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin: 0px;
    padding-bottom: 50px;
}

.blog_section_2 {
    width: 100%;
    float: left;
    background-color: #363636;
    height: auto;
}

.blog_taita_main {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 70px;
}

.blog_taital_1 {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #fefefd;
    text-transform: uppercase;
}

.ipsum_text {
    width: 57%;
    font-size: 16px;
    color: #fefefd;
    padding-top: 44px;
    margin: 0px;
    display: flex;
}

.readmore_bt {
    width: 200px;
    float: left;
    padding-top: 55px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    border: 1px solid #fefefd;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #333333;
    background-color: #ffffff;
}

.blog_img {
    width: 100%;
    float: left;
}
.padding_left_0 {
    padding-left: 0px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .cards-bg {
    background-color: white;
    padding: 40px;
    max-width: 1300px;
    margin: 40px auto;
  }
  
  .cards-bg-index {
    background-color: white;
    max-width: 1300px;
    margin: 40px auto;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  
  .card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card-content a {
    border-radius: 3px;
    font-weight: lighter;
    color: #A2AEF7;

  }
  
  .card-content a:hover {
    background-color: #f2f2f2; 
    border-radius: 3px;
    color: #000000;
    font-weight: lighter;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.267); 
  }
  
  
  /* Responsividade */
  @media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
  }
  

 


.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    font-size: 40px;
    color: #A2AEF7;
    font-family: 'Yeseva';
    flex: 1;

}

.contact_section_2 {
    width: 100%;
    float: left;
}

.contact_img {
    width: 100%;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  
    border-radius: 8px;
}
.contact_text {
    font-size: 18px;
    color: #000000;
    height: 50%;
    margin: 0px auto;
    text-align: justify;
    font-family: Arial, sans-serif;
    padding-bottom: 90px;
}
.contact_text2 {
    font-size: 16px;
    color: #000000;
    height: 50%;
    margin: 0px auto;
    text-align: justify;
    font-family: Arial, sans-serif;
    padding-bottom: 60px;
}
.contact_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* contact section end */

.margin_top90 {
    margin-top: 90px;
}
.textoconteiner1 {
    width: 60%;
    height: 50%;
    margin: 0px auto;
    text-align: justify;
    background-color: white;
    font-family: Arial, sans-serif;
    padding-bottom: 90px;
}
.textoconteiner2 {
    width: 70%;
    padding: 5%;
    margin: 0px auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.titulotop{
    font-size: 2.5em;
    margin-top: 3%;
    font-family: 'Yeseva';
    margin-bottom: 0%;
    text-align: center;
    color: #A2AEF7;
  }
.img_logo {
    height: 110px;
}
.equipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.membro-equipe {
    text-align: center;
    flex: 1;
    padding: 10px;
    max-width: 200px;
}
.membro-equipe img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pp{
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    font-family: Arial, sans-serif;; 
}
.container-subtitle {
    text-align: left;
    font-size: 24px;
    font-family: 'yeseva';
    color: #A2AEF7;
}
.textoconteiner3 {
    width: 70%;
    margin: 0px auto;
    font-family: Arial, sans-serif;
    padding-bottom: 5%;
    font-size: 14px;
}
#sidebarMenu {
    position: fixed;
    top: 0;
    left: -250px; 
    height: 100%;
    width: 250px;
    background-color: #A2AEF7;
    transition: left 0.3s ease; 
    overflow-y: auto;
  }
  
  #sidebarMenu.active {
    left: 0; 
  }
  
  #sidebarMenu::-webkit-scrollbar {
    width: 8px; 
  }
  
  #sidebarMenu::-webkit-scrollbar-track {
    background: #f7f5e7; 
    border-radius: 10px; 
  }
  
  #sidebarMenu::-webkit-scrollbar-thumb {
    background-color: #A2AEF7; 
    border-radius: 10px; 
    border: 2px solid #f7f5e7; 
  }
  
  #sidebarMenu {
    scrollbar-width: thin; 
    scrollbar-color: #A2AEF7 #f7f5e7; 
  }
  
  #sidebarMenu .nav-link, #sidebarMenu h5 {
    color: white;
    padding: 10px 20px;
  }
  .banner_text {
    width: 50%;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding-top: 10px;
    display: flex;
    }
    .p2{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: Arial, sans-serif;

    }
.footer {
    background-color: #FCF8CC; 
    color: #000000; 
    padding: 20px 10px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto; 
    gap: 20px; 
  }
  
  .footer-section {
    flex: 1; 
    min-width: 200px; 
    margin: 10px 0;
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #A2AEF7; 
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #A2AEF7; 
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #a2adf7c7;
  }
  
  /* Estilização responsiva */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column; 
      text-align: center; 
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }
    /* Barra Lateral de Acessibilidade */
    #accessibilitySidebar {
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #33333300;
        border-radius: 0 8px 8px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        padding: 10px 5px;
        width: 50px; /* Largura inicial apenas para ícones */
        overflow: hidden; /* Esconde textos fora da barra */
        transition: width 0.3s ease; /* Suavidade ao expandir */
    }

    /* Expansão ao passar o mouse */
    #accessibilitySidebar:hover {
        width: 200px; /* Expande a largura para mostrar os textos */
    }

    /* Botões da Barra Lateral */
    .accessibility-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 40px;
        margin: 10px 0;
        background-color: #a2adf7c7;
        color: #fff;
        border: none;
        border-radius: 20px;
        font-size: 14px;
        padding: 0 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .accessibility-button:hover {
        background-color: #a2adf7c7;
    }

    /* Ícones nos botões */
    .accessibility-button::before {
        display: inline-block;
        font-family: FontAwesome; /* Certifique-se de carregar o FontAwesome */
        margin-right: 19px;
    }

    #toggleContrast::before {
        content: "\f185"; 
    }

    #increaseFont::before {
        content: "\f067"; 
    }

    #decreaseFont::before {
        content: "\f068"; 
    }

    #resetAccessibility::before {
        content: "\f021"; 
    }

    #vlibrasButton::before {
        content: "\f10d"; 
    }

    .button-label {
        margin-left: 10px;
        opacity: 0; 
        white-space: nowrap;
        transition: opacity 0.3s ease, transform 0.3s ease; 
        transform: translateX(-10px); /* Move levemente para a esquerda */
    }

    #accessibilitySidebar:hover .button-label {
        opacity: 1; /* Torna os textos visíveis */
        transform: translateX(0); /* Remove o deslocamento */
    }

    /* Oculta os textos fora do hover */
    .button-label {
        display: none;
    }

    #accessibilitySidebar:hover .button-label {
        display: inline-block; /* Exibe o texto no hover */
    }



    .footer {
        background-color: #FCF8CC; 
        color: #000000; 
        padding: 20px 10px;
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 40px;  /* Cria um espaço entre o conteúdo e o footer */
        clear: both; /* Isso limpa qualquer flutuação */
      }
      
      .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        max-width: 1200px;
        margin: 0 auto; 
        gap: 20px; 
      }
      
      .footer-section {
        flex: 1; 
        min-width: 200px; 
        margin: 10px 0;
      }
      
      .footer-section h3 {
        margin-bottom: 15px;
        font-size: 1.2rem;
        color: #A2AEF7; 
      }
      
      .footer-section ul {
        list-style: none;
        padding: 0;
      }
      
      .footer-section ul li {
        margin-bottom: 10px;
      }
      
      .footer-section ul li a {
        color: #000000;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      
      .footer-section ul li a:hover {
        color: #A2AEF7; 
      }
      
      .footer-bottom {
        margin-top: 20px;
        font-size: 0.9rem;
        color: #a2adf7c7;
      }



.about_section {
    margin-bottom: 80px; /* Adicionando espaço na parte inferior para evitar que o footer fique grudado */
}

  